<% layout ('layouts/base') -%>
<br><br>
<div class="row-12 flex">
  <div class="col-10 offset-1">
    <h2 class="fw-bold fs-2"><%= listing.title %></h2>
    <div class="row-10">
      <hr>
      <div class="col-8 offset-2">
        <div class="img my-5">
          <img src=<%= listing.images %> />
        </div>
        <p class="fw-semibold fs-4"><%= listing.description %></p>
        <p class="fw-medium fs-5"><%= listing.price.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) %></p>
        <p class="fw-medium fs-5"><%= listing.location %>, <%= listing.country%></p>
        <p class="fw-medium fs-5"></p>
        <hr />
        <div class="flex gap-3 px-2 row-8">
          <a class="col-md-2 btn btn-primary" href="/detail/<%= listing.id %>/edit">Edit</a>
          <form class="col-md-2" action="/detail/<%= listing.id %>?_method=DELETE" method="post">
            <button class="btn btn-light" type="submit">Detele</button>
          </form>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</div>

<div class="col-6 offset-3 mb-3">
  <%- include ("../includes/getreview.ejs") %>
  <hr>
  <div class="readReview row">
    <%- include ("../includes/readReview.ejs") %>
  </div>
</div>