<% layout('layouts/base') %>

<br><br>
<h3>Latest Listings</h3>
<hr>

<div class="list-container">
  <div class="row">
    <% listings.forEach(list => { %>
    <div class="col-lg-3 col-md-5 col-sm-1 mb-5">
      <a href="/detail/<%= list.id %>" class="text-decoration-none">
        <div class="card card-hover card-dec">
          <img src="<%= list.images %>" class="card-img-top" alt="src-img" style="height: 18rem;">
          <div class="card-img-overlay hover-dec">
            <p class=""><%= list.description %></p>
          </div>
          <div class="card-body">
            <h5 class="card-text fw-semibold fs-5"><%= list.title %></h5>
            <p class="fw-medium fs-6"><%= list.price.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) %> / night</p>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>